/* Write your global styles here, in PostCSS syntax */
body {
	background-color: black;
	color: white;
}

button {
	padding: 8px 16px;
	font-size: 16px;
}

progress {
	display: block;
	width: 100%;
}

#foo
{
     position: fixed;
     bottom: 0;
     right: 0;
}
